* {
  --product-white: #fff;
  --product-red: #ee1212;
  --product-green: #3b990f;
  --product-gray: #808080;
  --product-brown: #413e01;
  --product-yellow: #fffa87;
  --background-gray: #ecebeb;
  --product-lightgray: rgb(231, 231, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--product-white);
  width: 100vw;
  font-family: Arial, sans-serif;
}

/*............PRODUCT - BOOTS...............*/

.boots-container {
  width: 50%;
  height: fit-content;
  margin: 5%;
  padding: 2%;
  border: 1px solid rgba(128, 128, 128, 0.493);

  position: relative;
}

.boots-bestseller-label {
  background: var(--product-yellow);

  color: var(--product-gray);
  font-weight: bold;
  font-size: 1.25rem;

  padding: 1% 3%;
  border-radius: 3%;

  position: absolute;
  right: 5%;
  top: 4%;
}

.boots-discount-label {
  background: var(--product-red);

  color: var(--product-white);
  font-weight: bold;
  font-size: 1.45rem;

  padding: 7% 3%;
  border-radius: 50%;

  position: absolute;
  left: 12%;
  top: 7%;
}

.boots-photo {
  width: 100%;
}

.boots-photo img {
  width: inherit;
}

.boots-product-name {
  font-weight: bold;
  font-size: 1.85rem;
  text-align: center;
  margin: 2% 0;
}

.boots-uppercase {
  text-transform: uppercase;
}

.boots-product-description {
  padding: 0.5rem;
}

.boots-product-description details summary {
  text-transform: lowercase;
  text-decoration: underline;
  color: var(--product-gray);
  text-align: center;
  padding: 0.5rem;
}

.boots-ship-info-container {
  padding: 8%;
  margin-bottom: 16px;

  background: var(--product-lightgray);

  position: relative;
}

.boots-shippment-label {
  background: var(--product-white);

  color: var(--product-red);
  font-weight: bold;
  font-size: 0.85rem;

  padding: 2% 1%;
  border: 2px solid var(--product-red);
  border-radius: 5%;
  margin: 3%;
  display: inline-block;

  position: absolute;
  left: 0%;
  top: 10%;
}

.boots-stock-info {
  color: var(--product-green);
  font-weight: bold;
  font-size: 0.85rem;
  text-decoration: underline;

  padding: 2% 1%;
  margin: 3%;
  display: inline-block;

  position: absolute;
  right: 0%;
  top: 10%;
}

.boots-price-text {
  font-weight: bold;
  font-size: 0.9rem;

  margin: 0.5rem;
}

.boots-usual-price {
  color: var(--product-gray);
  font-size: 0.9rem;
  text-decoration: line-through;

  margin: 0.5rem;
}

.boots-discount-price {
  font-size: 1.5rem;
  font-weight: bold;

  margin: 0.5rem;
}

.boots-add-to-cart-button {
  background: var(--product-red);

  font-weight: bold;
  font-size: 1.45rem;

  padding: 2% 0;
  margin: 5% 10%;
  text-align: center;
  width: 80%;
}

.boots-add-to-cart-button a {
  text-decoration: none;
  color: var(--product-white);
}

/*............PRODUCT - CAN...............*/

.can-container {
  width: 50%;
  height: fit-content;
  margin: 5%;
  padding: 2%;
  border: 1px solid rgba(128, 128, 128, 0.493);

  position: relative;
}

.can-sale-label {
  background: var(--product-yellow);

  color: var(--product-gray);
  font-weight: bold;
  font-size: 1.25rem;

  padding: 1% 3%;
  border-radius: 3%;

  position: absolute;
  right: 5%;
  top: 4%;
}

.can-discount-label {
  background: var(--product-red);

  color: var(--product-white);
  font-weight: bold;
  font-size: 1.45rem;

  padding: 6% 3%;
  border-radius: 50%;

  position: absolute;
  left: 7%;
  top: 5%;
}

.can-photo {
  width: 100%;
}

.can-photo img {
  width: inherit;
}

.can-product-name {
  font-weight: bold;
  font-size: 1.85rem;
  text-align: center;
  margin: 2% 0;
}

.can-uppercase {
  text-transform: uppercase;
}

.can-product-description {
  padding: 0.5rem;
}

.can-ship-info-container {
  padding: 8%;
  margin-bottom: 16px;

  background: var(--product-lightgray);

  position: relative;
}

.can-shippment-label {
  background: var(--product-white);

  color: var(--product-red);
  font-weight: bold;
  font-size: 0.85rem;

  padding: 2% 1%;
  border: 2px solid var(--product-red);
  border-radius: 5%;
  margin: 3%;

  position: absolute;
  left: 0%;
  top: 10%;
}

.can-stock-info {
  color: var(--product-green);
  font-weight: bold;
  font-size: 0.85rem;
  text-decoration: underline;

  padding: 2% 1%;
  margin: 3%;

  position: absolute;
  right: 0%;
  top: 10%;
}

.can-price-text {
  font-weight: bold;
  font-size: 0.9rem;

  margin: 0.5rem;
}

.can-usual-price {
  color: var(--product-gray);
  font-size: 0.9rem;
  text-decoration: line-through;

  margin: 0.5rem;
}

.can-discount-price {
  font-size: 1.5rem;
  font-weight: bold;

  margin: 0.5rem;
}

.can-add-to-cart-button {
  background: var(--product-red);

  font-weight: bold;
  font-size: 1.45rem;

  padding: 2% 0;
  margin: 5% 10%;
  text-align: center;
  width: 80%;
}

.can-add-to-cart-button a {
  text-decoration: none;
  color: var(--product-white);
}
