/*..............................BASICS..........................*/

* {
  --product-white: #fff;
  --product-red: #ee1212;
  --product-green: #3b990f;
  --product-gray: #808080;
  --product-brown: #413e01;
  --product-yellow: #fffa87;
  --background-gray: #ecebeb;
  --product-lightgray: rgb(231, 231, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--product-white);
  font-family: Arial, sans-serif;
}

/*..........................PRODUCT - BOOTS.....................*/

.main {
  max-width: 1000px;
}

.boots-container {
  width: 43%;
  height: fit-content;
  margin: 3rem 0 3rem 3rem;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.493);

  position: relative;
  float: left;
}

.boots-bestseller-label {
  background: var(--product-yellow);

  color: var(--product-gray);
  font-weight: bold;
  font-size: 18px;

  padding: 5px 10px;
  border-radius: 3%;

  display: inline-block;

  position: absolute;
  right: 5%;
  top: 3%;
}

.boots-discount-label {
  background: var(--product-red);

  color: var(--product-white);
  font-weight: bold;
  font-size: 1.45rem;

  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 25px 10px;

  display: inline-block;
  text-align: center;

  position: absolute;
  left: 9%;
  top: 4%;
}

.boots-photo {
  width: 100%;
}

.boots-photo img {
  width: inherit;
}

.boots-product-name {
  font-weight: bold;
  font-size: 1.85rem;
  text-align: center;
  margin: 1rem 0;
}

.boots-uppercase {
  text-transform: uppercase;
}

.boots-product-description {
  padding: 0.5rem;
}

.boots-product-description details {
  padding: 10px 0;
}

.boots-product-description details summary {
  text-transform: lowercase;
  text-decoration: underline;
  color: var(--product-gray);
  text-align: center;
}

.boots-product-description details p {
  margin-bottom: 10px;
}

.boots-ship-info-container {
  padding: 40px;
  margin-bottom: 16px;

  background: var(--product-lightgray);

  position: relative;
}

.boots-shippment-label {
  background: var(--product-white);

  color: var(--product-red);
  font-weight: bold;
  font-size: 0.85rem;

  padding: 0.6rem 0.3rem;
  border: 2px solid var(--product-red);
  border-radius: 5%;
  margin: 1rem;
  display: inline-block;

  position: absolute;
  left: 0%;
  top: 10%;
}

.boots-stock-info {
  color: var(--product-green);
  font-weight: bold;
  font-size: 0.85rem;
  text-decoration: underline;

  padding: 1rem 0.5rem;
  margin: 1rem;
  display: inline-block;

  position: absolute;
  right: 0%;
  top: 10%;
}

.boots-price-text {
  font-weight: bold;
  font-size: 0.9rem;

  margin: 0.5rem;
}

.boots-usual-price {
  color: var(--product-gray);
  font-size: 0.9rem;
  text-decoration: line-through;

  margin: 0.5rem;
}

.boots-discount-price {
  font-size: 1.5rem;
  font-weight: bold;

  margin: 0.5rem;
}

.boots-add-to-cart-button {
  background: var(--product-red);

  font-weight: bold;
  font-size: 1.45rem;

  padding: 1rem 0;
  margin: 2rem 2rem;
  text-align: center;
  width: 80%;
}

.boots-add-to-cart-button a {
  text-decoration: none;
  color: var(--product-white);
}

.boots-add-to-cart-button:hover {
  background: #f46161;
}

/*..........................PRODUCT - CAN......................*/

.can-container {
  width: 43%;
  height: fit-content;
  margin: 3rem 3rem 3rem 0;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.493);

  position: relative;
  float: right;
}

.can-sale-label {
  background: var(--product-yellow);

  color: var(--product-gray);
  font-weight: bold;
  font-size: 18px;

  padding: 5px 10px;
  border-radius: 3%;

  display: inline-block;

  position: absolute;
  right: 5%;
  top: 3%;
}

.can-discount-label {
  background: var(--product-red);

  color: var(--product-white);
  font-weight: bold;
  font-size: 1.45rem;

  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 25px 10px;

  text-align: center;
  display: inline-block;

  position: absolute;
  left: 9%;
  top: 5%;
}

.can-photo {
  width: 100%;
}

.can-photo img {
  width: inherit;
}

.can-product-name {
  font-weight: bold;
  font-size: 1.85rem;
  text-align: center;
  margin: 1rem 0;
}

.can-uppercase {
  text-transform: uppercase;
}

.can-product-description {
  padding: 0.7rem;
}

.can-ship-info-container {
  padding: 40px;
  margin-bottom: 16px;

  background: var(--product-lightgray);

  position: relative;
}

.can-shippment-label {
  background: var(--product-white);

  color: var(--product-red);
  font-weight: bold;
  font-size: 0.85rem;

  padding: 0.6rem 0.3rem;
  border: 2px solid var(--product-red);
  border-radius: 5%;
  margin: 1rem;

  position: absolute;
  left: 0%;
  top: 10%;
}

.can-stock-info {
  color: var(--product-green);
  font-weight: bold;
  font-size: 0.85rem;
  text-decoration: underline;

  padding: 1rem 0.5rem;
  margin: 1rem;

  position: absolute;
  right: 0%;
  top: 10%;
}

.can-price-text {
  font-weight: bold;
  font-size: 0.9rem;

  margin: 0.5rem;
}

.can-usual-price {
  color: var(--product-gray);
  font-size: 0.9rem;
  text-decoration: line-through;

  margin: 0.5rem;
}

.can-discount-price {
  font-size: 1.5rem;
  font-weight: bold;

  margin: 0.5rem;
}

.can-add-to-cart-button {
  background: var(--product-red);

  font-weight: bold;
  font-size: 1.45rem;

  padding: 1rem 0;
  margin: 2rem 2rem;
  text-align: center;
  width: 80%;
}

.can-add-to-cart-button a {
  text-decoration: none;
  color: var(--product-white);
}

.can-add-to-cart-button:hover {
  background: #f46161;
}
